.poke-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 20px 25px;
  background: rgb(2,0,36);
  background: linear-gradient(3deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6225840678068102) 55%, rgba(0,212,255,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  img {
    width: 150px;
    height: 150px;
  }
  p {
    color: white;
    font-size: 20px;
    margin: 8px;
  }
}
